@media screen and (max-width:810px) {
    header .container { 
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    } 
}

@media screen and (min-width:1000px){
    .descriptionSinopse{
        width: 50%; 
    }    
}